@media (min-width:750px) {
  .feedback {
    width: 1366px;
    margin: 0 auto;
    background: #DDECE4;
    padding-bottom: 80px;
    .margin {
      width: 1200px;
      margin: 0 auto;
    }
    .title {
      font-size: 12px;
      line-height: 65px;
    }
    .a-right {
      color: #006D33;
    }
    .trialreport {
      background: #fff;
      padding: 0 0 40px;
      .trialreport-t {
        border-bottom: 1px solid #E5E5E5;
        padding: 0 157px 0;
        span {
          color: #006D33;
        }
      }
      .span-l {
        float: left;
        font-size: 24px;
        line-height: 70px;
        font-weight: 700;
      }
      .span-r {
        float: right;
        font-size: 14px;
        line-height: 70px;
        position: relative;
        color: #006D33;
        i {
          position: absolute;
          width: 16px;
          height: 16px;
          background: url("~@/assets/feedback/arrow.png") no-repeat;
          background-size: cover;
          right: -24px;
          top: 0;
          bottom: 0;
          margin: auto;
        }
      }
    }
    .trialreport-b {
      padding: 0 157px 0;
      .samestyle {
        margin-top: 40px;
        h3 {
          font-size: 24px;
          line-height: 34px;
          margin-bottom: 23px;
        }
        table {
          border-top: 1px solid #E5E5E5;
          border-left: 1px solid #E5E5E5;
          border-collapse:collapse;
          tr {
            &:first-child {
              background: #F5F5F5;
              font-weight: 700;
            }
          }
          td {
            width: 296px;
            height: 44px;
            font-size: 14px;
            border-right: 1px solid #e5e5e5;
            border-bottom: 1px solid #e5e5e5;
            text-align: center;
          }
        }
      }
      .info {
        dl {
          margin-bottom: 24px;
        }
        dt {
          font-size: 16px;
          line-height: 22px;
          font-weight: 700;
          margin-bottom: 8px;
        }
        dd {
          font-size: 16px;
          line-height: 22px;
          color: #666;
        }
  
      }
      .be-after {
        .example-same {
          width: 400px;
          height: 225px;
          position: relative;
          span {
            position: absolute;
            font-size: 14px;
            line-height: 20px;
            bottom: -36px;
            left: 0;
            right: 0;
            margin: auto;
            text-align: center;
          }
        }
        .example-l {
          float: left;
        }
        .example-r {
          float: right;
        }
      }
      .zan {
        position: relative;
        width: 80px;
        height: 40px;
        margin: 96px auto 60px;
        background: #FF7373;
        border-radius: 28.5px;
        i {
          width: 22px;
          height: 22px;
          position: absolute;
          left: 18px;
          top: 8px;
          background: url("~@/assets/feedback/1.png") no-repeat;
          background-size: cover;
        }
      }
      #share {
        text-align: right;
        .share_btn {
          font-size: 12px;
          line-height: 24px;
        }
        i {
          margin-right: 4px;
        }
        #dxy-share-10000 {
          display: inline-block;
          vertical-align: middle;
          .share_btn {
            font-size: 14px;
            line-height: 24px;
          }
          #j_dxyshare_lst_dxy-share-10000 {
            padding-top: 2px;
            a {
              width: 16px;
              height: 16px;
              margin: 0 4px;
            }
          }
        }
      }
    }
  }
}
@media (max-width:750px) {
  .feedback {
    background: #DDECE4;
    font-size: 0;
    padding-top: 12px;
    .title {
      display: none;
    }
    .trialreport {
      background: #fff;
      padding: 0 0 .16rem;
      .trialreport-t {
        border-bottom: .01rem solid #E5E5E5;
        padding: 0 .16rem 0;
      }
      .span-l {
        float: left;
        font-size: .18rem;
        line-height: .51rem;
        font-weight: 700;
      }
      .span-r {
        float: right;
        font-size: .14rem;
        line-height: .51rem;
        position: relative;
        color: #006D33;
        i {
          display: none;
        }
      }
    }
    .trialreport-b {
      padding: 0 .16rem 0;
      .samestyle {
        margin-top: .24rem;
        h3 {
          font-size: .16rem;
          line-height: .22rem;
          margin-bottom: .16rem;
          font-weight: 700;
        }
        table {
          border-top: .01rem solid #E5E5E5;
          border-left: .01rem solid #E5E5E5;
          border-collapse:collapse;
          tr {
            &:first-child {
              background: #F5F5F5;
              font-weight: 700;
            }
          }
          td {
            width: 1.13rem;
            height: .44rem;
            font-size: .12rem;
            border-right: .01rem solid #e5e5e5;
            border-bottom: .01rem solid #e5e5e5;
            text-align: center;
          }
        }
      }
      .person-back {
        td {
          width: 1.03rem;
          height: .44rem;
          &:nth-child(2) {
            width: 1.02rem;
            span {
              display: none;
            }
          }
          &:nth-child(3) {
            width: 1.4rem;
          }
        }
      }
      .info {
        dl {
          margin-bottom: .16rem;
        }
        dt {
          font-size: .14rem;
          line-height: .2rem;
          font-weight: 700;
          margin-bottom: .04rem;
        }
        dd {
          font-size: .12rem;
          line-height: .17rem;
          color: #666;
        }
  
      }
      .be-after {
        .example-same {
          width: 3.43rem;
          height: 2.25rem;
          position: relative;
          span {
            position: absolute;
            font-size: .14rem;
            line-height: .2rem;
            bottom: -.36rem;
            left: 0;
            right: 0;
            margin: auto;
            text-align: center;
          }
        }
      }
      .zan {
        position: relative;
        width: .8rem;
        height: .4rem;
        margin: .76rem auto .21rem;
        border-radius: .285rem;
        i {
          width: .24rem;
          height: .24rem;
          position: absolute;
          left: .17rem;
          top: .08rem;
          background: url("~@/assets/feedback/1.png") no-repeat;
          background-size: cover;
        }
      }
      #share {
        i {
          display: none;
        }
        #dxy-share-10000 {
          display: block;
          .share_btn {
            font-size: .14rem;
            line-height: .24rem;
            display: block;
            float: none;
            text-align: center;
            margin-bottom: 16px;
          }
          .plg_share_wrap {
            float: none;
          }
          #j_dxyshare_lst_dxy-share-10000 {
            float: none;
            text-align: center;
            display: block;
            a {
              width: .24rem;
              height: .24rem;
              margin: 0 .08rem;
              display: inline-block;
              vertical-align: middle;
              float: none;
            }
            #w_xin {
              width: 2.15rem;
              right: 1.3rem!important;
              .w_center {
                width: 2.01rem;
                #w_qr {
                  img {
                    width: .8rem;
                  }
                }
                p {
                  width: .79rem;
                }
              }
            }
          }
        }
      }
    }
    .comment {
      margin-top: .12rem;
      height: .2rem;
    }
  }
}

