@media (min-width:750px) {
  .free-exp {
    background: #ddece4;
    padding: 24px 0 90px 0;
    width: 1366px;
    margin: 0 auto;
    .margin {
      width: 1200px;
      margin: 0 auto;
    }
    .title {
      font-size: 12px;
      line-height: 17px;
      color: #333;
      margin-bottom: 24px;
      .a-right {
        color: #006d33;
      }
    } 
    .main1 {
      background: #fff;
      padding: 10px 0 60px 0;
      border-radius: 4px;
      .miantitlte {
        font-size: 24px;
        line-height: 70px;
        font-weight: 700;
        color: #006D33;
        border-bottom: 1px solid #e5e5e5;
        text-align: center;
      }
      #servey {
        padding-left: 42px;
      }
    }
    .main2 {
      padding: 40px 77px 83px 60px;
      background: #fff;
      .apply-info {
        text-align: center;
        .apply-logo {
          margin: 0 auto;
          width: 100px;
          height: 100px;
          background: url("~@/assets/free-exp/sure.png") no-repeat;
          background-size: cover;
        }
        .message {
          font-size: 16px;
          line-height: 34px;
          font-weight: 700;
          margin: 8px 0 22px 0;
        }
        .handinfo {
          width: 46px;
          height: 50px;
          background: url("~@/assets/free-exp/hand.png") no-repeat;
          background-size: cover;
          margin: 0 auto;
        }
        h3 {
          font-size: 24px;
          line-height: 33px;
          margin: 19px 0 8px 0;
          color: #338A5C;
        }
        p {
          font-size: 12px;
          line-height: 24px;
          color: #666;
        }
      }
      .deep-apply {
        padding: 60px 0 0 0;
        h3 {
          font-size: 16px;
          line-height: 22px;
          font-weight: 700;
          border-left: 3px solid #338A5C;
          padding-left: 8px;
        }
        .reminder {
          padding: 16px 0 16px 20px;
          margin: 30px 0;
          background: #f5f5f5;
          font-size: 14px;
          line-height: 20px;
          span {
            font-weight: 700;
          }
        }
        .file {
          padding: 24px 0 72px 24px;
          background: #f5f5f5;
          p {
            position: relative;
          }
          input {
            display: none;
          }
          label {
            position: absolute;
            left: 0;
            width: 72px;
            font-size: 12px;
            line-height: 28px;
            height: 28px;
            background: #f5f5f5;
            text-align: center;
            border: 1px solid #006D33;
            border-radius: 4px;
          }
          span {
            margin-left: 80px;
            font-size: 12px;
            line-height: 17px;
            vertical-align: middle;
          }
        }
        .sub {
          text-align: center;
          margin-top: 60px;
          font-size: 0;
          button {
            border: 0;
            border-radius: 20px;
            font-size: 14px;
            line-height: 20px;
            color: #fff;
            padding: 10px 43px;
            background: #006D33;
            opacity: .2;
          }
        }
      }
    }
  }
}
@media (max-width:750px) {
  .free-exp {
    background: #ddece4;
    padding-top: .12rem;
    .title {
      display: none;
    } 
    .main1 {
      background: #fff;
      padding: 0 .16rem .4rem;
      .miantitlte {
        font-size: .18rem;
        line-height: .82rem;
        font-weight: 700;
        color: #006D33;
      }
    }
    .main2 {
      padding: .3rem .16rem .4rem;
      background: #fff;
      .apply-info {
        text-align: center;
        .apply-logo {
          margin: 0 auto;
          width: .8rem;
          height: .8rem;
          background: url("~@/assets/free-exp/sure.png") no-repeat;
          background-size: cover;
        }
        .message {
          font-size: .16rem;
          line-height: .34rem;
          font-weight: 700;
          margin: .08rem 0 .22rem 0;
        }
        .handinfo {
          width: .46rem;
          height: .5rem;
          background: url("~@/assets/free-exp/hand.png") no-repeat;
          background-size: cover;
          margin: 0 auto;
        }
        h3 {
          font-size: .24rem;
          line-height: .33rem;
          margin: .19rem 0 .08rem 0;
          color: #338A5C;
        }
        p {
          font-size: .12rem;
          line-height: .24rem;
          color: #666;
        }
      }
      .deep-apply {
        padding: .3rem 0 0 0;
        h3 {
          font-size: .16rem;
          line-height: .22rem;
          font-weight: 700;
          border-left: .03rem solid #338A5C;
          padding-left: .08rem;
        }
        .reminder {
          margin: .14rem 0 .24rem 0;
          font-size: .12rem;
          line-height: .18rem;
          color: #666;
          span {
            font-weight: 700;
          }
        }
        .file {
          padding: 24px 0 72px 24px;
          background: #f5f5f5;
          p {
            position: relative;
          }
          input {
            display: none;
          }
          label {
            position: absolute;
            left: 0;
            width: 72px;
            font-size: 12px;
            line-height: 28px;
            height: 28px;
            text-align: center;
            border: 1px solid #006D33;
            border-radius: 4px;
          }
          span {
            display: none;
          }
        }
        .sub {
          text-align: center;
          margin-top: .4rem;
          font-size: 0;
          button {
            border: 0;
            border-radius: .2rem;
            font-size: .14rem;
            line-height: .2rem;
            color: #fff;
            padding: .1rem 1.22rem;
            background: #006D33;
            span {
              display: none;
            }
          }
        }
      }
    }
  }
}
